.wrapper {
  display: flex;
  justify-content: flex-end;
}
.content {
  width: 74%;
}
.services1 {
  width: 100%;
}
.services1Text {
  height: 16px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #333333;
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
}
.services2 {
  width: 100%;
}
.services2Content {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 26px;
  margin-top:15px;
  padding-bottom: 20px;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}
.services2Content span {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}
.services2ContentBlock1 {
  display: flex;
  justify-content: space-between;
  height: 24px;
  padding-bottom: 5px;
  margin-top:20px;
}
.services2ContentBlock2 {
  display: flex;
  justify-content: space-between;
  height: 24px;
  padding-bottom: 5px;

}
.services2ContentBlock3 {
  display: flex;
  justify-content: space-between;
  height: 24px;

}
.green {
  width: 219px;
  height: 24px; 
  background: #b1e19b;
  border-radius: 0px 3px 3px 0px;

}
.blueLong {
  width: 100px;
  height: 24px;
  background: #ace2f8;
  border-radius: 0px 3px 3px 0px;
}
.blueShirt {
  width: 50px;
  height: 24px;
  background: #ace2f8;
  border-radius: 0px 3px 3px 0px;
}
.all {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}
.green p, .blueShirt p, .blueLong p{
    margin-top: 0;
    margin-left: 2px;
}
.numbers p{
    margin-top: 0;
}

@media screen and (max-width: 425px) {
  .wrapper {
    padding-top:10px;
    display: flex;
    justify-content: center;
  }
  .content{
    width:90%;
    margin:0 auto;
  }
  .services1, .services2, .all { width: 100%}
}