.wrapper{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first{
    font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
}
.second{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}
.third, .four{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}
.third p , .four p {
   padding-left: 5px;
}