.wrapper {
  width:90%;
  margin:0 auto;
  height: 191px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.textInput {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 5px;
}
.button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.textInput input {
  width: 100%;
  height: 63px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 1px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
}
.textInput input:focus {
  outline: none;
}

.button button {
  width: 50%;
  height: 43px;
  background-color: #fdd639;
  border: 1px solid #fdd639;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  border-radius: 25px;
}
.button button:focus {
  outline:none;
}

@media screen and (max-width: 540px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .button button {
    line-height: 15px;
  }
}

