.comment {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.who {
  display: flex;
  justify-content: flex-start;
}
.who p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}
.who p span {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding-left: 10px;
  color: #808080;
}
.text {
  width:100%;
  background: #f2fbff;
  border: 1px solid #c4cbcf;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);
}
.text p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #333333;
  padding-left:10px;
}
@media screen and (max-width: 425px) {
  .comment{
    width: 90%;
    margin: 0 auto;
  }
}