.wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;

}
.avatar {
    height:125px;
    width: 125px;
    border-radius: 50%;
    background-image: url(../img/logo.png);
   
}
.profileInfo {
}
.name {

    margin-left:10px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}
.proffesion{
    margin-left:10px;
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
margin-top:-15px;
color: #808080;
}
.info{
    background: #FFFBC8;
border: 1px solid #DADADA;
box-sizing: border-box;
border-radius: 5px;
margin-top: -10px;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
padding-left:60px;
margin-left:-50px;
color: #333333;
}

